########################
# Build output
########################
bin/
obj/
out/
publish/
artifacts/

########################
# Separate repos
########################
Frontend/
Backend/

########################
# Visual Studio / VS Code
########################
.vscode/
.vs/
*.user
*.suo
*.userprefs

